.button {
    -fx-background-insets: 0, 1, 2, 3;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.button:hover {
    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}
